<!-- Footer -->
<footer class="page-footer font-small blue bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">Developed By
      <a  href="https://usmanras.netlify.app/"> Razik Usman</a>
    </div>
    <div class="footer-copyright text-center py-3 text-light">Designed By
        <a  href="https://usmanras.netlify.app/"> DK... Groups</a>
      </div>
    <!-- Copyright -->
  <!-- counter -->
  <a href='https://freehitcounters.org/'>COUNT ME</a> 
  <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=ac44f1bf04e9ce27db9a1606c5b21708594e7b8f'></script>
  <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/768044/t/13"></script>
  </footer>
  <!-- Footer -->