<app-top-nav></app-top-nav>
<div class="container">
  <h3>Last Update </h3><h5>(Date & Time)</h5><br>
  <h4 class=" text-Primary">{{datas.data.update_date_time}}</h4>

  <hr>

<h1 class="text-center"><u>Local News</u></h1>
<!-- r 1 -->
<div data-aos-duration="1500" data-aos="fade-right" class="row d-flex justify-content-around d-flex justify-content-around">

  <!-- new case -->
  <div class="card text-white bg-primary col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.local_new_cases}}</h5>
      <p class="card-text">Total New Cases</p>
    </div>
  </div>

  <!-- PCR COunt -->
  <div class="card text-white bg-secondary col-md-3"  style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.total_pcr_testing_count}}</h5>
      <p class="card-text">Total PCR Test Count</p>
    </div>
  </div>

  <!-- recovered -->
  <div class="card text-white bg-success col-md-3" data-aos-duration="1500" data-aos="fade-left" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.local_recovered}}</h5>
      <p class="card-text">Total Recovered</p>
    </div>
  </div>
</div>

<!-- r 2 -->
<div data-aos-duration="1500" data-aos="fade-left" class="row d-flex justify-content-around">
  <!-- Total death -->
  <div class="card text-white bg-danger col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.local_deaths}}</h5>
      <p class="card-text">Toatl Death Count</p>
    </div>
  </div>

  <!-- Todaydeath -->
  <div class="card border-danger col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body text-danger">
      <h5 class="card-title">{{datas.data.local_new_deaths}}</h5>
      <p class="card-text">New Death Count today</p>
    </div>
  </div>

  <!-- hospitalised -->
  <div class="card text-white bg-warning col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.local_total_number_of_individuals_in_hospitals}}</h5>
      <p class="card-text">Total At Hospitalised</p>
    </div>
  </div>
</div>

<!-- r 3 -->
<div data-aos-duration="1500" data-aos="fade-right" class="row d-flex justify-content-around">
  <!-- total Cases -->
  <div class="card text-white bg-info col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.local_total_cases}}</h5>
      <p class="card-text">Total Cases</p>
    </div>
  </div>

  <!-- total Active Cases -->
  <div class="card text-white bg-dark col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Sri Lanka</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.local_active_cases}}</h5>
      <p class="card-text">Total Active cases</p>
    </div>
  </div>

</div>
<hr>

<h1 class="text-center"><u>Global News</u></h1>

<!-- r 1 -->
<div data-aos-duration="1500" data-aos="fade-left" class="row d-flex justify-content-around">

  <!-- new case -->
  <div class="card text-white bg-primary col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Global</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.global_new_cases}}</h5>
      <p class="card-text">Total New Cases</p>
    </div>
  </div>

  <!-- recovered -->
  <div class="card text-white bg-success col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Global</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.global_recovered}}</h5>
      <p class="card-text">Total Recovered</p>
    </div>
  </div>
</div>

<!-- r 2 -->
<div data-aos-duration="1500" data-aos="fade-right" class="row d-flex justify-content-around">
  <!-- Total death -->
  <div class="card text-white bg-danger col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Global</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.global_deaths}}</h5>
      <p class="card-text">Toatl Death Count</p>
    </div>
  </div>

  <!-- Todaydeath -->
  <div class="card border-danger col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Global</div>
    <div class="card-body text-danger">
      <h5 class="card-title">{{datas.data.global_new_deaths}}</h5>
      <p class="card-text">New Death Count today</p>
    </div>
  </div>
</div>

<!-- r 3 -->
<div data-aos-duration="1500" data-aos="fade-right" class="row d-flex justify-content-around">
  <!-- total Cases -->
  <div class="card text-white bg-info col-md-3" style="max-width: 30rem; margin: 10px;" data-aos-duration="1500" data-aos="flip-up">
    <div class="card-header">Global</div>
    <div class="card-body">
      <h5 class="card-title">{{datas.data.global_total_cases}}</h5>
      <p class="card-text">Total Cases</p>
    </div>
  </div>
</div>
</div>
<br>
<app-footer></app-footer>


